.weather-card {
  width: 400px;
}
.weather-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  div {
    h3 {
      margin-bottom: 5px;
    }
    span {
      display: block;
      text-transform: capitalize;
    }
  }
}

.weather-more-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  p {
    margin-bottom: 0px;
  }
}
