<div *ngIf="forecastInfo && weatherInfo" class="weather-card">
  <p-card>
    <ng-template pTemplate="content">
      <section
        class="weather-details"
        [style.background-color]="generateBackground(weatherInfo.main?.temp)"
      >
        <div class="weather-img">
          <img
            src="http://openweathermap.org/img/wn/{{
              weatherInfo.weather?.at(0)?.icon
            }}@2x.png"
          />
        </div>
        <div>
          <h3>
            <strong>{{ forecastInfo.city?.name }}, {{ capital.state }}</strong>
          </h3>
          <span>{{ weatherInfo.main?.temp }}°C</span>
          <span>{{ weatherInfo.weather?.at(0)?.description }}</span>
        </div>
      </section>
      <p-divider></p-divider>

      <app-weather-extra-info
        [weatherInfo]="weatherInfo"
      ></app-weather-extra-info>

      <app-forecast-timeline
        [forecastInfo]="forecastInfo"
      ></app-forecast-timeline>
    </ng-template>
  </p-card>
</div>
