<div class="legend">
  <div class="legend-item">
    <div
      class="legend-item__color"
      style="background-color: rgba(178, 212, 255, 0.7)"
    ></div>
    <div class="legend-item__value"><= 0°C</div>
  </div>
  <div class="legend-item">
    <div
      class="legend-item__color"
      style="background-color: rgba(195, 230, 255, 0.7)"
    ></div>
    <div class="legend-item__value"><= 10°C</div>
  </div>
  <div class="legend-item">
    <div
      class="legend-item__color"
      style="background-color: rgba(181, 237, 181, 0.7)"
    ></div>
    <div class="legend-item__value"><= 20°C</div>
  </div>
  <div class="legend-item">
    <div
      class="legend-item__color"
      style="background-color: rgba(255, 255, 204, 0.7)"
    ></div>
    <div class="legend-item__value"><= 30°C</div>
  </div>
  <div class="legend-item">
    <div
      class="legend-item__color"
      style="background-color: rgba(255, 209, 220, 0.7)"
    ></div>
    <div class="legend-item__value">&gt; 30°C</div>
  </div>
</div>
